@tailwind base;
@tailwind components;
@tailwind utilities;

.post-md-content * {
  all: revert;
}

.post-md-content img {
  max-width: 100%;
}

.post-md-content blockquote {
  border-left: 4px solid #ccc;
  padding-left: 8px;
}

.post-md-content code {
  max-width: 100%;
  overflow: auto;
}

:root {
  --background: 0 0% 100%;
}
